.container {
  max-width: 900px;
  margin: auto;
  height: 100vh;
  padding: 8px;
}

button#change-type {
  position: absolute;
  bottom: 10px;
  top: auto;
  right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}

nav ul {
  display: flex;
}

nav li {
  padding: 8px;
}
