h1 {
  letter-spacing: -5px;
}

.prompt {
  color: #8be9fd;
  font-size: 16px;
}

.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

main {
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

/* .cursor {
  font-weight: 700;
  animation: blink 1s step-end infinite;
} */

.help {
  color: var(--text-color);
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
  margin-left: 8px;
  color: var(--text-color);
  font-size: 15px;
}

.command {
  font-size: 15px;
}

.help-flex {
  display: flex;
  justify-content: space-between;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--primary);
  }
}

/*.wb-body {*/
/*background-color: var(--background-color);*/
/*}*/

/*.modal {*/
/*padding: 20px;*/
/*}*/

/*.modal p {*/
/*margin: 20px 0;*/
/*}*/

a button {
  position: fixed;
  top: 10px;
  bottom: auto;
  right: 10px;
}
