@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --text-color: #a9b1d6;
  --primary: #bb9af7;
  --secondary: #2ac3de;
  --background-color: #1a1b26;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", sans-serif;
}

body {
  padding: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--primary);
  font-size: 32px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  color: var(--primary);
}

h3 {
  margin-bottom: 10px;
}

a {
  color: var(--secondary);
}
