.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 600px;
}

.help {
  color: var(--text-color);
}

.coffee {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 64px;
  height: 64px;
  z-index: 1000;
  background-color: #ffdd00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.coffeeIcon {
  width: 48px;
  height: 48px;
}
