.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 600px;
}

.help {
  color: var(--text-color);
}
